# Web framework
streamlit==1.29.0

# Data handling
numpy==1.25.2
pandas==2.0.3

# Machine learning
scikit-learn==1.2.2

# Visualization
matplotlib==3.7.2
seaborn==0.12.3
plotly==5.15.0

# Password hashing
bcrypt==4.1.1
